[submodule "stdlib"]
	path = stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "concat"]
	path = concat
	url = git://github.com/ripienaar/puppet-concat.git
[submodule "apt"]
	path = apt
	url = git://github.com/lurdan/puppet-apt.git
[submodule "lsb"]
	path = lsb
	url = git://github.com/lurdan/puppet-lsb.git
[submodule "network"]
	path = network
	url = git://github.com/lurdan/puppet-network.git
[submodule "openssh"]
	path = openssh
	url = git://github.com/lurdan/puppet-openssh.git
[submodule "puppet"]
	path = puppet
	url = git://github.com/lurdan/puppet-puppet.git
[submodule "rng-tools"]
	path = rng-tools
	url = git://github.com/lurdan/puppet-rng-tools.git
[submodule "sysvinit"]
	path = sysvinit
	url = git://github.com/lurdan/puppet-sysvinit.git
[submodule "apt-cacher-ng"]
	path = apt-cacher-ng
	url = git://github.com/lurdan/puppet-apt-cacher-ng.git
[submodule "krfilter"]
	path = krfilter
	url = git://github.com/lurdan/puppet-krfilter.git
[submodule "dnsmasq"]
	path = dnsmasq
	url = git://github.com/lurdan/puppet-dnsmasq.git
[submodule "lvm"]
	path = lvm
	url = git://github.com/puppetlabs/puppet-lvm.git
[submodule "font"]
	path = font
	url = git://github.com/lurdan/puppet-font.git
[submodule "kerberos"]
	path = kerberos
	url = git://github.com/lurdan/puppet-kerberos.git
[submodule "apache2"]
	path = apache2
	url = git://github.com/lurdan/puppet-apache2.git
[submodule "mysql"]
	path = mysql
	url = git://github.com/lurdan/puppet-mysql.git
[submodule "requesttracker"]
	path = requesttracker
	url = git://github.com/lurdan/puppet-requesttracker.git
[submodule "selinux"]
	path = selinux
	url = git://github.com/lurdan/puppet-selinux.git
